@model AplikacjaRanczo.Models.Bydlo

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuwanie</h2>

<h3>Czy napewno chcesz usunąć istniejące dane?</h3>
<div>
    <h4>Dane zwierzęcia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_armir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_armir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nr_paszportu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_paszportu)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Rasa.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rasa.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plec.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plec.nazwa)
        </dd>

        <dt>
            
            @Html.DisplayNameFor(model => model.Matka.id_armir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matka.id_armir)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
