@model IEnumerable<AplikacjaRanczo.Models.Bydlo>

@{
    ViewBag.Title = "Baza bydła";
}

<h2>Baza bydła</h2>

<p>
    @Html.ActionLink("Dodaj zwierze", "Create")
</p>

    @using (Html.BeginForm())
    {
    <p>
        Wpisz pełną frazę nr paszportu: @Html.TextBox("searchString")
        <input type="submit" value="Szukaj" />
    </p>
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_armir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nr_paszportu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rasa.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plec.nazwa)
        </th>
        <td>
            <b>Matka</b>
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_armir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr_paszportu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasa.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plec.skrot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matka.id_armir)
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new { id = item.BydloID }) |
                @Html.ActionLink("Szczegoly", "Details", new { id = item.BydloID }) |
                @Html.ActionLink("Usun", "Delete", new { id = item.BydloID })
            </td>
        </tr>
    }
   
</table>
