@model AplikacjaRanczo.Models.KodPocztowy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KodPocztowy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Miejscowosc.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejscowosc.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodPocztowyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
